# Example env for peak-admin (do NOT commit real secrets)
MONGO_URI=mongodb://nkosinathiibuta_db_user:p8ywEWr6x40XzmJz@ac-jmzpt7q-shard-00-00.sf1stco.mongodb.net:27017,ac-jmzpt7q-shard-00-01.sf1stco.mongodb.net:27017,ac-jmzpt7q-shard-00-02.sf1stco.mongodb.net:27017/peakuber?tls=true&replicaSet=atlas-yxrman-shard-0&authSource=admin&retryWrites=true&w=majority

# Cloudinary (client-side unsigned preset)
VITE_CLOUDINARY_CLOUD_NAME="drrnkz5wg"
VITE_CLOUDINARY_UNSIGNED_PRESET=your_unsigned_preset_here

# Backend API base URL (dev)
VITE_BASE_URL=http://localhost:5000

# For production override, set in .env.production or your host env:
# VITE_BASE_URL=https://vexomove.onrender.com
